<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>{{name}}</h1> -->
    <button id="enterButton">入場</button>

<script>
// ボタンの要素を取得
var enterButton = document.getElementById("enterButton");

// ボタンがクリックされたときの関数を定義
enterButton.onclick = function() {
    console.log("入場ボタンがクリックされました");
    // ここに他の処理を追加できます。例えば、別のページに遷移するなど。
    alert("ようこそ！");
};

</script>



    
</body>
</html>